CHANNEL_IDS=channel_id_1,channel_id_2
CHANNEL_NAME=
ACCOUNT= 
PASSWORD= 
URL= 
TOKEN= 
MAINTAINER_ID=
BOT_NAME=
LINE_ID=ttt50966
# 以下皆選填，沒設定的付款方式不會出現在 /help 與催繳訊息中
# 只填代碼與帳號即可，銀行名由程式加（值裡多打「中華郵政」「國泰世華」也會自動去掉）
POST_ACCOUNT=(700) 局號帳號
CATHAY_ACCOUNT=(013) 分行代碼帳號